@model TestApp.Models.Person

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Person</h4>
<hr />
<div class="w3-container">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="w3-text-red"></div>
        <div class="w3-row">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="w3-input" />
            <span asp-validation-for="FirstName" class="w3-text-red"></span>
        </div>
        <div class="w3-row">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="w3-input" />
            <span asp-validation-for="LastName" class="w3-text-red"></span>
        </div>
        <div class="w3-row">
            <label asp-for="DateOfBirth"></label>
            <input asp-for="DateOfBirth" class="w3-input" />
            <span asp-validation-for="DateOfBirth" class="w3-text-red"></span>
        </div>
        <div class="w3-row">
            <label asp-for="PlaceOfBirth"></label>
            <input asp-for="PlaceOfBirth" class="w3-input" />
            <span asp-validation-for="PlaceOfBirth" class="w3-text-red"></span>
        </div>
        <div class="w3-row">
            <label asp-for="Gender"></label>
            <input asp-for="Gender" class="w3-input" />
            <span asp-validation-for="Gender" class="w3-text-red"></span>
        </div>
        <div class="w3-row">
            <label asp-for="Married"></label>
            <input asp-for="Married" class="w3-check" />
            <span asp-validation-for="Married" class="w3-text-red"></span>
        </div>
        <div class="w3-row">
            <input type="submit" value="Create" class="w3-button w3-indigo" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}