@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="w3-center">
    <h1 class="w3-display-topmiddle">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
